.photo-upload {
    width: 128px;
    height: 128px;
}

.modal-action {
    user-select: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: rgba(10, 10, 10, 0.2);
    border: 1px solid $white;
    border-radius: 290486px;
    cursor: pointer;
    display: inline-block;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    outline: none;
    position: relative;
    vertical-align: bottom;
    text-align: center;
    background: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 32px;
    max-height: 32px;
    max-width: 32px;
    min-height: 32px;
    min-width: 32px;
    width: 32px;
    color: $white;

    .icon {
        position: absolute;
        right: 3px;
        bottom: 4px;
    }
}

.pagination {
    &.is-species {
        .pagination-title, .pagination-search {
            align-items: baseline;
            display: flex;
            justify-content: center;
            text-align: center;
            flex-wrap: wrap;
        }
    }
}

@include tablet() {
    .pagination {
        &.is-species {
            .pagination-title, .pagination-search {
                flex-grow: 1;
                flex-shrink: 1;
                justify-content: flex-start;
                order: 1;
            }

            .pagination-search {
                justify-content: flex-end;
                order: 2;
                margin-right: 0.5rem;

                .button {
                    flex: none;
                    margin-left: 0.25em;
                    margin-right: 0.25em;
                }
            }

            .pagination-previous {
                order: 3;
            }

            .pagination-next {
                order: 4;
            }
        }
    }
};

@include mobile() {
    .pagination {
        &.is-species {
            .pagination-title, .pagination-search {
                flex: none;
                width: 100%;
            }

            .pagination-search {
                margin-top: 0.75rem;

                .button {
                    flex: 1;
                    margin-left: 0.25em;
                    margin-right: 0.25em;
                }
            }
        }
    }
}

.wysiwyg {
    max-width: 100%;

    trix-editor {
        word-break: break-word;

        ol, ul {
            padding-left: 1rem;
        }
    }
}

.cookie-consent {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: $white;
    box-shadow: 0 -2px 3px rgba($black, 0.1);
    padding: .75rem 1.5rem;
}

.cookie-consent__message, .cookie-consent__agree {
    display: flex;
    align-items: center;
}

@include mobile() {
    .cookie-consent__message, .cookie-consent__agree {
        justify-content: center;
    }
}

.group-taxa-search {
    &.modal-card, .modal-card-body {
        overflow: visible;
    }
}

.view-group-card {
    width: 100%;
    display: flex;
    border-radius: .25rem;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.view-group-card__image {
    height: 6rem;
    width: 6rem;
    flex: none;
    background-size: cover;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    text-align: center;
    overflow: hidden;
    padding: .25rem;
}

.view-group-card__image--default {
    padding: 0;
}

.view-group-card__content {
    background-color: $white;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    padding: 1rem;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    color: $black;
}
