$dropdown-item-hover-background-color: $dropdown-item-hover-background;
$dropdown-item-hover-color: $dropdown-item-hover;
$table-row-active-color: $table-row-active;
$table-row-active-background-color: $table-row-active-background;
