@font-face {
  font-family: "LinuxBiolinum";
  src: url("../fonts/linux-biolinum/LinBiolinum_R.otf");
}

@font-face {
  font-family: "LinuxBiolinum";
  src: url("../fonts/linux-biolinum/LinBiolinum_RB.otf");
  font-weight: bold;
}

@font-face {
  font-family: "LinuxBiolinum";
  src: url("../fonts/linux-biolinum/LinBiolinum_RI.otf");
  font-style: italic;
}
