.btn-remove {
    display: none;
}

.image:hover .btn-remove {
    display: flex;
}

.delete.is-danger {
    background-color: $danger;
}

body {
    min-height: 100vh;
}

.secondary-navbar {
    position: relative;

    .level-right:empty {
        display: none;
    }
}

.banner-image {
    height: 10rem;
}

.navbar-logo {
    width: auto;
    height: 1.75rem;

    &.is-plane {
        fill: currentColor;
    }
}

ul.is-done li:before {
    content: "\f05d";
    font-family: FontAwesome;
    display: inline-block;
    margin-right: .75rem;
    color: $primary;
}

ul.is-not-done li:before {
    content: "\f05c";
    font-family: FontAwesome;
    display: inline-block;
    margin-right: .75rem;
    color: $warning;
}

.field.is-required .label:after {
    content: '*';
    color: $danger;
}

[v-cloak] {
    display: none;
}

.croppr-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.label .is-dashed {
    border-bottom: 1px dashed $grey-light;
    cursor: default;
}
