.is-full-height {
  height: 100vh;
}

.is-fullwidth {
  width: 100%
}

.is-flex-center {
  align-items: center;
  justify-content: center;
}

.is-underlined {
  text-decoration: underline;
}

.hero-border-top {
  border-top: 4px solid $primary;
}

.hero-border-left {
  border-left: 4px solid $primary;
}
