// Colors

$primary: #0d6c3c; // Alciphron Green
$secondary: #ff6600; // Alciphron Orange
$white: #ffffff;

$primary-lightest: #FBFFFD;

$modal-card-head-padding: 10px;
$modal-card-head-background-color: $white;
