name: Test

on: [push, pull_request]

jobs:
  test:
    name: Biologer (PHP ${{ matrix.php-versions }})
    runs-on: ubuntu-latest
    env:
      DB_DATABASE: biologer_testing
      DB_USERNAME: root
      DB_PASSWORD: password
      BROADCAST_DRIVER: log
      CACHE_DRIVER: file
      QUEUE_CONNECTION: database
      SESSION_DRIVER: file
      MAIL_MAILER: log
      MAIL_FROM_ADDRESS: test@example.com
      MAIL_FROM_NAME: "Biologer Test"
      BACKUP_NOTIFICATION_EMAIL: test@example.com
    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: false
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: biologer_testing
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    strategy:
      fail-fast: false
      matrix:
        php-versions: ['8.3', '8.4']
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup PHP, with composer and extensions
        uses: shivammathur/setup-php@v2 #https://github.com/shivammathur/setup-php
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: mbstring, dom, fileinfo, mysql
      - name: Get composer cache directory
        id: composer-cache
        run: echo "DIR=$(composer config cache-files-dir)" >> "$GITHUB_OUTPUT"
      - name: Cache composer dependencies
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.DIR }}
          key: composer-${{ runner.os }}-${{ hashFiles('**/composer.lock') }}
          restore-keys: composer-${{ runner.os }}-
      - name: Install Composer dependencies
        run: composer install --no-progress --prefer-dist --optimize-autoloader
      - name: Check code style
        run: vendor/bin/php-cs-fixer fix --dry-run
      - name: Prepare the application
        run: |
          cp .env.example .env || true
          php artisan key:generate
      - name: Clear Config
        run: php artisan config:clear
      - name: Run Migration
        run: php artisan migrate --seed -v
        env:
          DB_PORT: 3306
      - name: Install Laravel Passport
        run: php artisan passport:install
        env:
          DB_PORT: 3306
      - name: Test with phpunit in parallel
        run: php artisan test --parallel
        env:
          DB_PORT: 3306
